body
{
	padding-top: 50px;
	padding-bottom: 20px;
}

th
{
	white-space: nowrap;
}

#linkPreview
{
	display: none;
}

.login
{
	max-width: 400px;
	padding: 15px;
	margin: 0 auto;
}

h2.login
{
	margin-bottom: 10px;
}

li.dropdown:hover > .dropdown-menu,
a.dropdown-toggle:focus + .dropdown-menu
{
	display: block;
}
