body
{
	padding-top: 50px;
	padding-bottom: 50px;
}

th
{
	white-space: nowrap;
}

#linkPreview
{
	display: none;
}

.login
{
	max-width: 400px;
	padding: 15px;
	margin: 0 auto;
}

h2.login
{
	margin-bottom: 10px;
}

li.dropdown:hover > .dropdown-menu,
a.dropdown-toggle:focus + .dropdown-menu
{
	display: block;
}

div#shows img.media-object
{
	height: 100px;
	width: 179px;
	margin-right: .5em;
}

div#shows h4 a
{
	color: rgb(51, 51, 51);
}

div#shows h4 small
{
	position: relative; top: -3px;
}

body.index
{
	background-image: url(../img/splash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

body.index div.jumbotron
{
	background-color: rgba(238, 238, 238, 0.85);
	margin-bottom: 0;
}

.splash
{
	width: 100%;
	background-color: #eee;
	padding: 1% 0 2% 0;
}

.navbar-brand img
{
	position: relative;
	top: -3px;
}

@media (max-width: 1000px) {
	.navbar-default .navbar-brand > span
	{
		display: none;
	}

	.navbar-default .navbar-form .form-group {
		width: 15em;
	}
}
